.tooltip-error {
    display: none;
    position: absolute;
    top: 0;
    /* Adjust this depending on your layout */
    left: 5px;
    background-color: #fff9b7;
    color: #272727;
    padding: 5px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    font-size: 0.8em;
    z-index: 1000;
    white-space: nowrap;
    /* Prevent text wrap */
}

.tooltip-error.visible {
    display: block;
}

.card.hidden {
    filter: grayscale(1);
    opacity: 0.6;
}

// dimensioni immagini create and edit
.thumb-mini{
    width: 50px;
}

.title {
    @include font-size(4rem);
}

// modifica del paginator
.pagination {
    background-color: #f8f9fa;
}

.page-item.active .page-link {
    background-color: #ffc107;
    border-color: #FE6F61;
    color: #212529;
}

.page-link {
    color: #212529;
}
