.tooltip-error {
    display: none;
    position: absolute;
    top: 0;
    /* Adjust this depending on your layout */
    left: 5px;
    background-color: #fff9b7;
    color: #272727;
    padding: 5px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    font-size: 0.8em;
    z-index: 1000;
    white-space: nowrap;
    /* Prevent text wrap */
}

.tooltip-error.visible {
    display: block;
}

.card.hidden {
    filter: grayscale(1);
    opacity: 0.6;

    img {
        filter: blur(2px);
    }
}

// dimensioni immagini create and edit
.thumb-mini {
    width: 50px;
}